.App {
  text-align: center;
  
}


/*----------------*/
.center{
  position: absolute;
  width: 50%;
  left: 20%;
  
}
.header{
  width: 100%;
  height: 65px;
  margin-bottom: -21px;
  /* position: relative; */
  margin-top: 25px;
  background: linear-gradient(to right, rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
  box-shadow: 8px 12px 12px -3px rgb(0 0 0 / 30%);
  padding: 20px 10px 26px 10px;
}
.header h2{
 float: left;
 color: white;
 margin-top: 5px;
 font-size: 14px;
 letter-spacing: 12px;
 font-family: 'Open Sans', sans-serif;
}
.header a{
  float: right;
  color: white;
  margin-right: 10px;
  transition: transform 2s;
}
.header svg{
  width: 30px;
  height: 30px;
}
.header a:hover{
  color: white;
}
.header a:focus{
  transform: rotate(360deg);
}

.task_container{
  background-color: #ffffff;
  box-shadow: 1px 7px 5px 0px rgb(218 215 206 / 80%);
  z-index: 2;
  --bs-gutter-x: 5.5rem;
  --bs-gutter-y: -1rem;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0px 25px 5px;
  margin-top: calc(-1 * var(--bs-gutter-y));
  border-left: #ffc107 solid 6px;
  transition: all 1s;
}
.buttons{
  text-align: right;
  padding-right: 5px;
}
.buttons button{
  background-color: #ffc107;
  border-radius: 25px;
  padding: 5px 10px;
  border: none;
   margin: 0px 2px;
   box-shadow: 1px 5px 10px -5px rgb(0 0 0 / 50%);
   color: #fff;
   transition:border,1s
}
#edit_btn{
  background-color: #4ca150; 
}
#delet_btn{
  background-color: #912727; 
}

#edit_btn:hover{
  background-color: white;
  color: #4ca150;
}
#delet_btn:hover{
  background-color: white;
  color: #912727;
}


.task_content{
  text-align: left;
  padding-left: 5px;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}
.task_content::first-letter{
  color: #3f638c;
    text-transform: uppercase;
    font-size: larger;
}

.add_container {
 /* display: none;*/
 position: absolute;
  height: 0;
  opacity: 0;
  margin: 22px 10px 10px 10px; 
  padding-top: 25px;
  background: white;
  box-shadow: 1px 5px 10px -5px rgb(0 0 0 / 50%);
  transition: opacity 2s;
}
